body {
    background-repeat: no-repeat;
    background: linear-gradient(45deg, rgba(186,168,0,1) 0%, rgba(200,33,33,1) 51%, rgba(36,212,154,1) 100%); 
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 0 1rem;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20;
    color: white;
}
.mePicture {
    height: 3rem;
    padding: 0 1rem;
}
.menu {
    margin: 0;
    padding: 0 0.5rem;
    display: inline-flex;
}
h1 ol a {
    margin: 0;
    padding: 1rem 2rem;
}
.contact {
    float: right;
    padding: 1rem 2rem;
    display: inline;
}
a:hover {
    background-color: rgb(85, 85, 85);
}

.content {
    max-width: 1000px;
    min-height: 1000px;
    margin: auto;
}
.section {
    margin: 2rem 0;
    padding: 1rem;
    background-color: rgb(29, 29, 29);
    font-size: 20;
    color: white;
}
h2 {
    padding: 10px;
    max-width: 1500px;
    margin:auto;
    padding: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40;
}
p1 {
    line-height: 1.5;;
}
#canvas {
    background-color: white;
}